/* Mobile first development */

.container {
  margin-bottom: 14rem;
}

.main {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heroImage {
  position: absolute;
  top: 0px;
  z-index: 1;
  right: 10%;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main {
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* .heroImage {
    right: 30%;
  } */
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    margin-top: 4rem;
  }

  .heroImage {
    right: 20%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5rem;
  }

  .heroImage {
    right: 20%;
  }
}

@media (min-width: 1280px) {
  .main {
    margin-top: 7rem;
  }
}
