/* Mobile first development */

.container {
  margin-bottom: 14rem;
}

.main {
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heroImage {
  position: absolute;
  top: 0px;
  z-index: 1;
  /* right: 10%; Not sure yet */
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
}

.header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: var(--text-gray-100);
}

.sectionWrapper {
  margin-top: 5rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem;
  }

  .main {
    margin-top: 3rem; /* 48px */
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem;
  }
  /* .heroImage {
    right: 30%;
  } */

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem; /* 40px */
    padding-right: 2.5rem;
  }

  .main {
    margin-top: 4rem; /* 64 px */
  }

  .heroImage {
    right: 20%;
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem;
    margin-top: 5rem; /* 80px */
  }

  .heroImage {
    right: 20%;
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .main {
    margin-top: 7rem; /* 112px */
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
